{% extends "encyclopedia/layout.html" %}

{% block title %}
Edit {{ title }} Page
{% endblock %}

{% block body %}
<div class="edit-page">
    <h1>Edit {{ title }} Page</h1><br/>
    <form method="POST" action="Save {{ title }} Page">
        {% csrf_token %}
        <label style="font-weight: lighter;">Type here</label>
        <textarea style="color: black" id="content" name="edit-content" class="form-control" rows="10" required>{{ content }}</textarea>
        <div class="buttons">
            <a href="{{ title }}">Cancel</a>
            <input type="submit" value="Save Page"/>
        </div>
    </form>
</div>
{% endblock %}